# dependencies
node_modules

# env files
.env
.env.local
.env.production
.env.development
.env.test
.env.*.local
.env.vercel
.env.vercel.*

# build output
dist

# deployment
.vercel/

# misc
.DS_Store
.vercel
.env*.local

# supabase cli local cache
supabase/.temp/
